
# Word/excel files ignore
*.docx
*.doc
*.rtf
*.xltx

# Big / generated stuff
study_files/
data/
logs/
.snakemake/
deliverables/
results/mapping/

# Mac çöp dosyaları
*.DS_Store
*.DS_Store
~$*.pptx
# Fastq atıkları (root'a düşenler)
NA12878.fastq
NA12878.fastq.gz
